@import "variables.scss";

$theme-colors: (
    "primary": $azul,
    "secondary": $amarillo,
    "succes": $verde,
    "dark": $cafe,
    
);

@import "./node_modules/bootstrap/scss/bootstrap.scss";

body {
    background-color: $azul ;
}

h1 {
    background-color: $amarillo;
}

