@import "variables.scss";

$theme-colors: (
    "primary": $azul,
    "secondary": $amarillo,
    "succes": $verde,
    "dark": $cafe,
    
);

@import "./node_modules/bootstrap/scss/bootstrap.scss";



h1 {
    font-family: 'Times New Roman', Times, serif;
}

.bg-column {
    background-image: url('media/sierra-transformed.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    
}
